/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background: linear-gradient(135deg, #153677, #4e085f);
  color: aliceblue;
  font-family: "Nunito", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

/* Header Styling */
header {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  font-size: 2.5rem;
  letter-spacing: 0.1em;
  font-weight: 600;
  text-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff, 0 0 40px #00b3ff;
  margin-bottom: 4rem;
}

/* Main Container */
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80%;
  background: #fff;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.left-hand-side {
  padding: 20px;
  border-right: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.right-hand-side {
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.right-hand-side h2 {
  font-size: 1.5rem;
  color: #153677;
}

#predicted-number {
  font-size: 2rem;
  font-weight: bold;
  color: #153677;
  background: #f0f8ff;
  padding: 10px 20px;
  border: 2px dashed #00b3ff;
  border-radius: 10px;
  text-align: center;
  width: 100%;
  max-width: 200px;
}

/* Panel and Canvas Styling */
.panel {
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  border-radius: 10px;
  width: 100%;
  height: 300px;
}

#canvas {
  width: 100%;
  height: 100%;
  background: black;
  border-radius: 10px;
}

#scaling-canvas {
  display: none;
}

/* Control Buttons */
.controls {
  display: flex;
  justify-content: center;
  gap: 10px;
}

button {
  background-color: #00b3ff;
  color: #ffffff;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #007acc;
}
